<!-- {% load static%}
{% extends '1.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>  
<link rel="stylesheet" href="{% static '1.css'%}">
<body>
    {% block after_login %}
        <div class="after_login">
            <li><a href="buy">Buy</a></li>
            <li><a href="#">Make a deal</a></li>
            <li><a href="logout">logout</a></li>
        </div>
    {% endblock after_login %}
</body>
</html> -->